/* *{
    padding: 0;
    margin: 0;
}

@media (min-width:500px){
.container-1{
display: flex;
align-items: stretch;
flex-direction: row;
   }
}
.container-2{
    display: flex;
}

.container-2{
    justify-content: space-around;
    flex-wrap: wrap;

}


.container-1 div, .container-2 div{
     padding:10px ;
     border: 1px solid silver;

}

.box-1{
    flex: 2;
    order: 2;
}

.box-2{
    flex: 2;
    order: 1;
}

.box-3{
    flex: 1;
    order:3;
}

.box{
    flex-basis: 20%; 
} */






/* #test{
    height: 20px;
    width: 20px;
   background: lime;
 
}

#block {
    width: 200px;
    height: 100px;
    background: lime;
} */






/* .menu-item{
    border: 2px solid aqua;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu{
    width: 120px ; 
    height: 40px;
    background: lime;
    position: absolute;
    cursor: pointer;
} */




/* #tabs .tab{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

#tabs .whiteborder{
    border: 2px solid aquamarine;
    border-bottom: 2px solid aqua;
    border-radius: 3px 3px 0 0;
}

#tabs .tabContent{
    width: 300px;
    height: 60px;
    border: 2px solid aquamarine;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

#tabs .hide{
    display: none;
}

#tabs .show{
    display: block;
} */




/* .modal{
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: cadetblue;
    opacity: 0.9;
}

.modal-content{
    background-color: cyan;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
}

.close{
    color: darkslategrey;
    float:right;
    font-size: 28px;
    font-weight: bold;
} */




/* #myContainer{
    width: 500px;
    height: 500px;
    position: relative;
    background: black;
}

#myAnimation{
    width: 50px;
    height: 50px;
    position:absolute;
    background: lime; 
} */





/* .slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width:auto;
    margin-top: -22;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition:0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover{
    background-color: rgba(0,0,0,0.8);
}

.text{
    color:cyan;
    font-size: 12px;
    padding: 8px 12px ;
    position: absolute;
    top:0;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: lightslategrey;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active, dot:hover{
 background-color: slategray;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
from{opacity: .4}
to{opacity: 1}
} */





/* #myInput{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 5px;
    border: 2px solid gray;
    margin-bottom: 12px;
}

#myUL{
    list-style: none;
    padding: 0;
    margin: 0;
}
#myUL li  a{
    border: 1px solid gray;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

 #myUL li a.header{
  background-color: #e2e2e2;
  cursor:default;

}
#myUL li  a:hover:not(.header){
  background-color: #eee;
} */






/* #myImg{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover{
    opacity: 0.9;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333;
    background-color: darkslategray;
}

.modal-content{
    margin:auto;
    display: block;
    width: 80%;
    max-width: 700px;

}

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width:700px;
    text-align: center;
    color: dimgray;
    padding:10px 0;
    height: 150px;
}

.modal-content, #caption{
    -webkit-animation-name:zoom;
    -webkit-animation-duration:0.6s;
    animation-name:zoom;
    animation-duration:0.6s;

}
@-webkit-keyframes zoom{
   from{-webkit-transform:scale(0)}
   to{-webkit-transform:scale(1)}
}
@keyframes zoom {
    from{transform: scale(0)}
    to{transform: scale(1)}
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: gray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and ( max-width: 700px ){
    .modal-content{width: 100%;;}
} */







/* #myProgress{
    position: relative;
    width: 300px;
    height: 30px;
    background-color: cadetblue;
}

#myBar{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: darkblue;
}

#label{
    text-align: center;
    line-height: 30px;
    color: darkgray;
} */





/* .popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 50px;
}

.popup .popuptext{
    visibility: hidden;
    width:160px;
    background-color: darkgray;
    color:blue  ;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after{
    content: "";
    position:absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px ;
    border-width: 5px;
    border-style: solid;
    border-color: dimgrey;
}

.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
 @keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}





/* button.accordion{
    background-color: darkblue;
    color: darkcyan;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover{
    background-color:aqua;
}
div.panel{
    padding: 0 18px;
    background-color: lime;
    display: none;
}
div.panel.show{
    display: block;
} */




.by{
 font-size:x-small;
}

.red{
    background-color: crimson;
}

.oran{
    background-color:orange;
}

.yw{
    background-color: yellow;
}

.gr{
    background-color: green;
}

.blue{
    background-color: royalblue;
}

.purp{
    background-color: purple;
}